.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
  text-align: right;
  line-height: 1.2;
}

.footer .contacts {
  margin-left: 74px;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__hours {
  font-size: 13px;
  text-decoration: underline;
}

.contacts__text{
  font-size: 11px;
  color: #9A9A9A;
  margin-bottom: 5px;
}