.footer-container {
  margin-top: auto;
  height: 146px;
}

.footer-container::before {
  content: "";
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer-container .footer {
  margin-top: 48px;
}

.inner-footer {
  margin-top: auto;
}

.inner-footer__container {
  padding: 49px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}
