.hero {
  width: 45%;
  min-height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.38;
}

.hero__text {
  font-size: 18px;
  line-height: 1.11;
  margin-top: 27px;
  margin-bottom: 34px;
}

.hero__more-button:hover,
.hero__more-button:active {
  background-color:#DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}
