.screen-wrapper {
  background: url("../../img/bg/screen.jpg") center center / cover no-repeat;
  justify-content: center;
  align-items: center;
}

.screen-container {
  display: flex;
  flex-direction: column;
  width: 591px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* animation: heartBeat 0.4s 2 ease-out 1s forwards; */
  animation: heartBeat 0.9s ease-in 1s forwards;
}

.welcome {
  background: url("../../img/decor/shades.png") center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 156px;
}

.welcome__logo {
  width: 279px;
  height: 119px;
  margin-right: 0;
}

.welcome__text{
  font-size: 18px;
  line-height: 1.38;
}

.screen-button {
  padding: 18px 58px;
  transition: 1s ease-out;
}

.screen-button:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}


/* @keyframes heartBeat {
  0% {
    opacity: 1;
  }

  60% {
    transform: scale(1.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

} */

@keyframes heartBeat {
  0% {
    opacity: 1;
    transform: scale(0.7)
  }

  20% {
    transform: scale(1.25);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.15);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}